<section>
	<!--div ng-show="showPlanifView">
		<date-picker select-date='selectDate' first-day-of-week='1'/>
	</div-->
	<div class="agenda">
		<div class="header"><br/><br/><br/>Votre agenda pour la semaine : {{weekId}}<br/><br/><br/></div>
		<div class="header">
			<div ng-repeat="day in days" class="day">
				<div class="hourHeader">{{days[$index].header}}</div>
				<div ng-repeat="hour in hours" class="hour">
					{{hours[$index]}}
				</div>
				
				<div class="activity" ng-repeat="activity in activities[weekId][$index]" style="width: 120px; height:{{41*(activity.end-activity.start)}}px; top: {{(activity.start-6) *41 }}px; left:20px;">
					{{activity.nom}}
				</div>
			</div>
			
		</div>
	<div><a href="" class="btn" ng-click="previousWeek()" >Prec.</a>
		<a href="" class="btn" ng-click="nextWeek()" >Suiv.</a>
		
		Nom: <input type="text" ng-model="newName" />
		&nbsp;Start :<input type="text" ng-model="newStart"/>
		&nbsp;Stop :<input type="text" ng-model="newEnd"/>
		&nbsp;Day:<input type="text" ng-model="newDay"/>
		<a href="" class="btn" ng-click="newActivity()" >Nouvelle Activite</a>
	</div>
		
	</div>
	</div>
</section>

<footer class="main-footer">by the <a href="http://itkweb.com" class="link-footer">iTK Team</a></footer>
